* {
	color: #333;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: 'PingFang SC', 'Microsoft Yahei';
}

strong {
	font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1024px;
	scroll-behavior: smooth;
}

body {
	animation: show 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

span,small {
	color: inherit;
	font-size: inherit;
}

a:hover {
	opacity: 0.8;
}

#contact {
	min-height: calc(100vh - 445px);
}

.wrapper-size {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0;
	align-items: flex-end;
}

/*top page*/
.logo-area, .title-area, .contact-area {
	display: inline-block;
	vertical-align: middle;
}

.logo-area {
	width: 40%;
}

.logo-area a {
	display: inline-block;
}

.title-area {
	width: 30%;
	font-size: 24px;
	margin: 0;
	color: #102E4A;
}

.contact-area {
	width: 25%;
}

#header {
	padding: 20px 0;
}

/*menu*/
#menu {
	height: 30px;
	text-align: center;
	background-color: #1B4965;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}

.list-wrapper {
	padding-left: 0;
	font-size: 0;
	height: 30px;
	letter-spacing: 0;
}

.list-wrapper li.active {
	background-color: #5FA8D3;
}

.list-wrapper li.active > a {
	color: #fff;
}

.list-wrapper > li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	width: 15%;
	height: 100%;
	cursor: pointer;
	position: relative;
}

.list-wrapper > li:last-child {
	border-right: 1px solid #fff;
}

.list-wrapper > li span {
	color: #fff;
	border-left: 1px solid #fff;
	width: 100%;
	display: inline-block;
	transition-duration: 0.5s;
	height: 30px;
	line-height: 2;
}

.child-menu {
	transition-duration: 0.5s;
	padding-left: 0;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
}

.child-menu a {
	display: inline-block;
	width: 100%;
}

.child-head:after {
	content: '\f0d7';
	margin-left: 15px;
	font-family: FontAwesome;
	position: absolute;
	top: 7px;
	right: 12px;
	float: right;
	color: #fff;
}

.child-menu li {
	list-style: none;
	padding: 4px 15px;
	color: #102E4A;
	transition-duration: 0.5s;
	border-bottom: 1px solid #102E4A;
	border-right: 1px solid #102E4A;
	border-left: 1px solid #102E4A;
	text-align: center;
}

.child-head:hover .child-menu {
	max-height: 300px;
}

.visual-top {
	position: relative;
}

.visual-text {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	padding: 40px 20px;
	width: 600px;
}

.visual-text h4 {
	font-size: 24px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.visual-text p {
	margin: 0;
}

.visual-button {
	border: 2px solid #163048;
	color: #163048;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 10px 20px;
	margin-top: 30px;
	display: inline-block;
}

.visual-button:hover {
	background: #163048;
	color: #fff;
	opacity: 1;
}

.shine-text {
	text-align: center;
}

.before-after-area {
	text-align: center;
	margin: 20px 0 60px 0;
}

.before-after-area figure {
	display: inline-block;
	vertical-align: middle;
}

.before-after-area i {
	vertical-align: middle;
	color: #102E4A;
}

.before-after-area figcaption {
	margin-top: 10px;
}

.center-title {
	text-align: center;
	font-size: 24px;
}

.topimage-area {
	text-align: center;
	margin: 60px 0;
}

.topimage-area img {
	margin: 0 40px;
}

.quote-content {
	width: 45%;
	width: 45%;
	display: inline-block;
	margin: 0px 40px;
	vertical-align: middle;
}

.quote-image {
	vertical-align: middle;
}

.quote-content h4 .fa {
	display: inline-block;
	vertical-align: middle;
	color: #888;
}

.quote-content h4 span {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}

.video-area {
	margin: 150px 0;
}

.product-area {
	display: inline-block;
	width: 50%;
}

.share-area {
	display: inline-block;
	vertical-align: top;
}

.product-area figure {
	width: 200px;
	display: inline-block;
	margin: 0;
	text-align: center;
}

.product-area figure p {
	margin: 0;
}

.product-area figure h6 {
	margin: 0;
}

.product-area figcaption {
	margin-top: 10px;
}

.other-area {
	font-size: 0;
}

.other-area a {
	display: inline-block;
	vertical-align: top;
}

.amazon-button {
	text-align: center;
	margin: 20px 0;
}

#footer {
	background-color: #102E4A;
	padding-bottom: 5px;
	margin-top: 60px;
}

.sitemap-area {
	display: flex;
	justify-content: space-between;
}

.sitemap-block {
	width: 30%;
	vertical-align: top;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}

.sitemap-block li {
	color: #fff;
	list-style: none;
	text-align-last: left;
	font-size: 12px;
}

.child-list:before {
	content: "-";
	margin: 0 5px 0 5px;
}

.copyright-area {
	text-align: center;
	color: #fff;
	margin: 10px;
	font-size: 12px;
}

#visual {
	position: relative;
}

.visual-title {
	font-size: 34px;
	color: #eee;
	background: rgba(34, 34, 34, 0.8);
	margin: 0 auto;
	width: 450px;
	padding: 40px 20px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}


.mar_top40,
.main-title.mar_top40 {
	margin-top: 40px;
}

.pad_top60 {
	padding-top: 60px;
}

.pad_lt20 {
	padding-left: 20px;
}

.pad_lt0 {
	padding-left: 0px;
}

.product-content {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.product-content h2 {
	font-size: 30px;
	text-align: center;
}

.detail-button {
	text-align: center;
	margin-top: 120px;
}

.detail-button a {
	font-size: 20px;
    text-align: center;
    display: inline-block;
    border: 2px solid #102E4A;
    color: #102E4A;
    padding: 10px 20px;
}

.detail-button a:hover {
	background: #102E4A;
	color: #fff;
}

.intro-item {
	margin: 60px 0;
	text-align: center;
}

.intro-item img {
	margin: 0 40px;
}

.nostyle-list {
	list-style: none;
}

.big-title {
	background: royalblue;
	padding: 40px 0;
}

.big-title.gold {
	background: gold;
}

.big-title h5 {
	margin: 0;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.big-title h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	margin: 0 0 10px 0;
	letter-spacing: 3px;
}


.big-title p {
	color: #fff;
	width: 600px;
    margin: 0px auto;
    text-align: center;
}

.main-title {
	color: royalblue;
    font-size: 24px;
    margin: 100px 0 20px 0;
}

.main-title:before {
	content: '\f02b';
	font-family: FontAwesome;
	margin-right: 10px;
}

.check-list {
	padding-left: 20px;
}

.check-list li {
	list-style: none;
	margin: 8px 0;
}

.check-list li:before {
	content: '\f00c';
	font-family: FontAwesome;
	margin-right: 10px;
    color: #102E4A;
}

.two-block-area {
	font-size: 0;
}

.two-block-item {
	width: 45%;
	vertical-align: top;
	display: inline-block;
	margin: 0 10px;
}

.two-block-item figure {
	margin: 0;
}

.solve {
	font-size: 20px;
    color: crimson;
    font-weight: bold;
    margin-bottom: 10px;
}

.solve .fa {
	color: crimson;
}

.bold-title {
	font-size: 20px;
	margin: 60px 0 20px 0;
}

.step-list {
	margin: 20px 0;
}

.large .step-list {
	margin: 50px 0;
}

.step-list img {
	vertical-align: middle;
}

.step-list figcaption {
	vertical-align: middle;
	width: 40%;
	display: inline-block;
	margin-left: 20px;
}

.main-title + .bold-title {
	margin-top: 20px;
}

.center-image {
	text-align: center;
	margin: 40px 0;
}

.right-image {
	float: right;
}

.four-stage figure {
	width: 45%;
	margin: 10px;
	display: inline-block;
}

.four-stage img {
	vertical-align: middle;
}

.four-stage p {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}

.red-text {
	color: tomato;
}

.solution-table {
	margin: 20px 0;
	border-collapse: collapse;
}

.solution-table th {
	background: #102E4A;
    color: #fff;
    padding: 12px 10px;
    border: 1px solid #102E4A;
    font-weight: normal;
}

.solution-table td {
	padding: 12px 10px;
	color: #102E4A;
	border: 1px solid #102E4A;
}

.properties-table {
	border-collapse: collapse;
	margin-top: 20px;
}

.properties-table caption {
	font-weight: bold;
	color: #102E4A;
	text-align: left;
}

.properties-table th {
	background: #102E4A;
    color: #fff;
    padding: 12px 15px;
    border-bottom: 1px solid #fff;
    text-align: left;
    font-weight: normal;
}

.properties-table tr:last-child th {
	border-bottom: 1px solid #102E4A;
}

.properties-table td {
	padding: 12px 15px;
	border: 1px solid #102E4A;
}

.main-title + .faq-item {
	margin-top: 20px;
}

.faq-item {
    border: 2px solid #102E4A;
    width: 800px;
    overflow: hidden;
    margin: 40px 0;
}

.faq-item .question {
    padding: 5px 20px;
    background: #102E4A;
}

.faq-item .question .fa {
    vertical-align: middle;
    color: #fff;
    display: inline-block;
    width: 5%;
}

.faq-item .question h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    font-weight: normal;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.faq-item .answer {
    padding: 20px;
    background: rgba(215, 221, 239, 0.4);
    color: #102E4A;
}

.buy-area a {
	vertical-align: middle;
	display: inline-block;
}

.buy-area figure {
	text-align: center;
}

.buy-area h4 {
    color: #102E4A;
    font-size: 18px;
    margin-bottom: 0;
}

.buy-area p {
	margin-top: 5px;
}

.amazon-button {
	width: 180px;
}

.contact-form {
    margin-top: 40px;
}

.contact-form .title {
    font-size: 16px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 600px;
    padding: 12px 10px;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    background: #FCFCFC;
    margin: 10px 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contact-form.in-comfirm input[type="text"],
.contact-form.in-comfirm input[type="email"],
.contact-form.in-comfirm input[type="tel"],
.contact-form.in-comfirm textarea {
	border: none;
	background-color: #fff;
	padding: 12px 0;
    color: #777;
}

#comfirmButtons * {
	display: block;
	margin: 20px auto;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: royalblue;
}

.contact-form .badge {
    border-radius: 4px;
    background: #ff5d55;
    font-size: 12px;
    color: #fff;
    padding: 1px 8px;
    display: inline-block;
    margin-left: 10px;
}

.contact-item {
    margin: 12px 0;
}

.center-button {
    margin: 50px 0;
    text-align: center;
}

input[type="submit"] {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background: royalblue;
    width: 400px;
    display: inline-block;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.mobile-menu-bar {
    display: none;
}

#mobileMenu {
    display: none;
}

.blue-button {
	color: #fff;
    background: royalblue;
    width: 400px;
    display: inline-block;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

@media (max-width: 768px) {
	body,html {
		width: 100vw;
		min-width: unset;
	}

	#contact {
		min-height: calc(100vh - 155px);
	}

	#header {
		padding: 8px 0;
	}

	.title-area, .contact-area {
		display: none;
	}

	.logo-area img {
		height: 34px;
		width: auto;
	}

	.logo-area {
		width: 78%;
	}

	#menu {
	    height: 0;
	}

	#menu .wrapper-size {
	    display: none;
	}

	.mobile-menu-bar {
	    display: inline-block;
	    text-align: right;
	    width: 20%;
	    vertical-align: middle;
	}

	.mobile-menu-bar i {
	    font-size: 20pt;
	    color: #1B4965;
	    text-shadow: 0px 0px 10px #1b7fcc4a;
	}

	body.mobile-menu-opened {
		overflow: hidden;
		position: fixed;
		cursor: pointer;
	}

	body.mobile-menu-opened:after {
		content: '';
		width: 100vw;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		background: #fff;
		opacity: 0.6;
		cursor: pointer;
	}

	body.mobile-menu-opened #mobileMenu {
		width: 80%;
	}

	#mobileMenu {
		width: 0;
		display: block;
		background: #f1f6fe;
		height: 100vh;
		position: absolute;
		top: -50px;
		right: 0;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
		-webkit-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		overflow-y: scroll;
		padding-bottom: 100px;
		box-sizing: border-box;
		text-align: left;
	}

	.mobile-list {
		padding: 5px 0;
		margin-top: 0;
	}

	.mobile-list > li {
		list-style: none;
		text-align: left;
	}

	.mobile-list a {
		width: 100%;
		box-sizing: border-box;
		height: 100%;
		padding: 8px 20px;
		display: inline-block;
	}

	.mobile-list a:active{
		background: #1B4965;
		color: #fff;
	}

	.mobile-list a:active i{
	}

	.mobile-list > li.mobile-child-wrapper {
		padding: 0;
	}

	.mobile-child-head:after {
		content: '\f067';
		font-family: FontAwesome;
		float: right;
		color: #167ac6;
		margin-top: 2px;
	}

	.mobile-child-head {
		padding: 8px 20px;
		-webkit-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	.mobile-child-head {
		transition-duration: 0.5s;
	}

	.mobile-child-head.active {
		background: #167ac6;
		color: #fff;
	}

	.mobile-child-head.active i {
		color: #fff;
	}

	.mobile-child-head.active:after {
		content: '\f068';
		color: #fff;
	}

	.mobile-child-list {
		background: #1B496521;
		max-height: 0;
		-webkit-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;
		overflow: hidden;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.mobile-child-list.opened {
		max-height: 170px;
	}

	.mobile-child-list li {
		list-style: none;
	}

	.mobile-child-list li a {
		padding-left: 40px;
		padding-bottom: 10px;

	}

	.mobile-child-list li a:first-child {
		padding-top: 10px;
	}

	.mobile-anchor-area {
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.mobile-anchor-item, .mobile-anchor-item i {
		color: #102e4a;
	}

	.visual-text {
		position: static;
	    transform: none;
	    background: #102e4a;
	    padding: 20px 10px;
	    width: auto;
	}

	.shine-text {
		text-align: left;
	}
	
	.visual-button {
		display: none;
	}

	.visual-text h4 {
		color: #fff;
		font-size: 15px;
	}

	.visual-text p {
		color: #fff;
		font-size: 12px;
	}

	.visual-text img {
		width: 70%;
	}

	.center-title {
		font-size: 20px;
    	text-align: left;
	}

	.sitemap-area {
		display: none;
	}

	img {
		width: 100%;
		font-weight: normal;
	}

	.topimage-area {
		margin: 20px 0;
	}

	.topimage-area img {
		margin: 10px 0;
	}
	
	.quote-content {
		width: 100%;
		margin: 0;
	}

	.quote-area {
		margin: 40px 0;
	}

	.quote-area.mobile-flex,
	.intro-item.mobile-flex {
		display: flex;
    	flex-flow: column-reverse;
	}

	.quote-content h4 .fa {
		font-size: 20px;
		color: royalblue;
	}

	.quote-content h4 span {
		font-weight: normal;
		font-size: 14px;
		color: royalblue;
	}

	.video-area {
		margin: 40px 0;
	}

	iframe {
		width: 100%;
		height: auto;
	}

	.product-area {
		width: 100%;
	}

	.product-area figure {
		width: 100%;
		margin: 20px 0;
	}

	.product-area img {
		width: 70%;
	}

	.share-area {
		display: none;
	}

	.copyright-area {
		font-weight: normal;
	    padding: 5px;
	    width: 200px;
	    margin: 0 auto;
	}

	#footer {
		margin-top: 20px;
	}

	.visual-title {
		position: static;
	    transform: none;
	    width: 100%;
	    box-sizing: border-box;
	    font-size: 24px;
	    font-weight: normal;
	    padding: 20px 10px;
	    background: #333;
	}

	.intro-item {
		margin: 0;
	}

	.intro-item img {
		margin: 0 auto;
		width: 70%;
	}

	.product-content {
		width: 100%;
	}

	.product-content h2 {
		font-size: 24px;
		margin: 10px 0;
	}

	.detail-button {
		margin: 20px 0;
	}

	.detail-button a {
		padding: 8px 40px;
	}

	.nostyle-list {
		padding-left: 0;
	}

	.big-title {
		padding: 30px 10px;
	}

	.big-title h1 {
		letter-spacing: 2px;
    	font-size: 34px;
	}

	.big-title p {
		width: unset;
	}

	.product-content.pad_top60 {
		margin: 20px 0;
		padding: 0;
	}

	.product-content {
		text-align: left;
	}

	.main-title {
		margin: 40px 0 20px 0;
		font-weight: normal;
    	font-size: 20px;
	}

	.two-block-item {
		width: 100%;
		margin: 10px 0;
	}

	.check-list {
		padding-left: 0;
	}

	.bold-title {
		font-weight: normal;
	}

	.step-list {
		text-align: center;
		margin: 40px 0;
	}

	.blur .step-list img {
		width: 70%;
	}

	.step-list figcaption {
		width: 100%;
		text-align: left;
    	margin-top: 10px;
    	font-size: 12px;
    	margin-left: 0;
	}

	.right-image {
		float: none;
	}

	.four-stage figure {
		width: 100%;
		margin: 20px 0;
		text-align: center;
	}

	.four-stage figure img {
		width: 70%;
	}

	.four-stage p {
		width: 100%;
		font-size: 12px;
	}

	.six-image {
		text-align: center;
	}

	.six-image img {
		width: 70%;
		height: auto;
		margin: 10px 0;
	}

	.faq-item {
		width: 100%;
	}

	.faq-item .question .fa {
		display: none;
	}

	.faq-item .question {
	    padding: 5px 10px;
	}

	.faq-item .question h3 {
	    width: 100%;
	    margin: 10px 0;
	    font-size: 18px;
	}

	.faq-item .answer {
		padding: 20px 10px;
	}

	.solution-table {
		margin-left: -20px;
	}

	ol,ul {
		padding-left: 20px;
	}

	.before-after-area {
		margin: 20px 0;
	}

	.before-after-area i {
		display: block;
	    text-align: center;
	    width: 100%;
	}

	.before-after-area i:before {
		content: '\f0d7';
	}

	.product-image-area img {
		margin: 10px 0;
	}

	.large .step-list {
		margin: 40px 0;
	}

	.buy-area {
		text-align: center;
	}

	.contact-form input[type="text"], 
	.contact-form input[type="email"], 
	.contact-form input[type="tel"], 
	.contact-form textarea {
	    width: 100%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	input[type="submit"], .blue-button {
		width: 100%;
	}

	.properties-table {
		width: 100%;
	}
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media print {
	
	body {
		opacity: 1;
	}

}
